<div class="content" *ngIf="movie">
    <div class="content-button">
        <button [routerLink]="['']"><span class="icon-home inverse"></span>Back</button>
    </div>
    <h2>{{ movie.title }}</h2>
    <div class="content-summary">
        <img class="poster" [src]=movie.poster alt="">
        <p><b>Summary: </b>{{movie.summary}}</p>
    </div>
    <div>
        <table class="horizontal">
            <thead>
                <tr>
                    <th>Box office</th>
                    <th>Budget</th>
                    <th>Duration</th>
                    <th>Producers</th>
                    <th>Cinematographers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Box office">${{movie.box_office}} million</td>
                    <td data-label="Budget">${{movie.budget}} million</td>
                    <td data-label="Duration">{{movie.duration | transformHour}}</td>
                    <td data-label="Producers">{{movie.producers}}</td>
                    <td data-label="Cinematographers">{{movie.cinematographers}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>